@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Ubuntu&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
  font-size: 15px;
}

.header{
  /* Created with https://www.css-gradient.com */
  background: #4EBEFE;
  background: -webkit-linear-gradient(top left, #4EBEFE, #3790D9);
  background: -moz-linear-gradient(top left, #4EBEFE, #3790D9);
  background: linear-gradient(to bottom right, #4EBEFE, #3790D9);
  color: white;
}
.container{
    margin: 0 auto;
    width: 1170px;
}

.logo{
  margin-top: 66px;
}

.desktop{
  display: flex;
}

.mainpic{
  display: block;
}

.title{
  font-size: 37px;
  margin-top: 148px;
}